<div class = answers id=reply style="padding-top: 10px;">
	<div class = replyprofile>
	<div style = "background-image: url(uploads/{{this.comment.COPpath}});" class = "replypicture"></div>
	<p> {{this.comment.comment_name}} </p>
	</div>
	<p class = replyname id="{{this.comment.question_id}}_comtext" style="display: flex; align-items: center; top: -10px;text-align: justify; font-size: 20px; padding: 0px 20px;"> {{this.comment.comment_text}} </p>
</div>