<!DOCTYPE html>
<html>
<head>
	<title>Dev Notes</title>
	<link rel = "stylesheet" type = "text/css" href = "../css/AboutPage.css">
</head>
<body>
	{{> navbar}}

	<div id = "misviscontainer">
		<div class = "misvis">
			<p id = "title">Mission</p>
			<p id = "bodytext">To provide a common avenue for adopters and rescuers to communicate and give dogs proper homes.</p>
		</div>
		<div class = "misvis">
			<p id = "title">Vision</p>
			<p id = "bodytext">
				To encourage more people to adopt and love abandoned dogs, creating a community that value rescue and rehabilitation
				of dogs.
			</p>
		</div>
	</div>

	<p class = "headers">Pupperty Creators:</p>

	<div class = "author">
		<div class = "authorpicture" style = "background-image: url(images/Developers/Lander.jpg);"></div>
		<div style = "padding-top: 15px">
			<p class = "authordetails" style = "font-size: 30px">Lander Peter E. Cua</p>
			<p class = "authordetails" style = "font-size: 25px">BS CS-ST</p>
			<p class = "authordetails" style = "font-size: 15px; text-align: justify; margin-left: 10px; margin-right: 10px;">Lander Peter E. Cua is a sophomore student at De La Salle University who is currently taking up Bachelor of Science in Computer Science with Specialization in Software Technology (BSCS-ST). He had his preschool to junior high school education at MGC New Life Christian Academy and his senior high school education at De La Salle University Integrated School - Manila.</p>
		</div> 
	</div><br>

	<div class = "author">
		<div class = "authorpicture" style = "background-image: url(images/Developers/Jacob.png);"></div>
		<div style = "padding-top: 15px">
			<p class = "authordetails" style = "font-size: 30px">Jacob Bryan B. Gaba</p>
			<p class = "authordetails" style = "font-size: 25px">BS CS-ST</p>
			<p class = "authordetails" style = "font-size: 15px; text-align: justify; margin-left: 10px; margin-right: 10px;">Jacob Gaba is a second-year undergraduate student who is taking up Bachelor of Science in Computer Science with Specialization in Software Technology at De La Salle Unversity. He finished his elementary education at Paco Catholic School. He then had his junior high school education at Manila Science High School before transferring to De La Salle University-Manila for senior high school.</p>
		</div> 
	</div><br>

	<div class = "author">
		<div class = "authorpicture" style = "background-image: url(images/Developers/Matthew.png);"></div>
		<div style = "padding-top: 15px">
			<p class = "authordetails" style = "font-size: 30px">Raymond Matthew T. Singson</p>
			<p class = "authordetails" style = "font-size: 25px">BS CS-ST</p>
			<p class = "authordetails" style = "font-size: 15px; text-align: justify; margin-left: 10px; margin-right: 10px;">Matthew Singson is a second-year undergraduate student who is taking up Bachelor of Science in Computer Science with Specialization in Software Technology at De La Salle Unversity. He finished his elementary education at Paco Catholic School. He then had his junior and senior high school education at La Salle Green Hills before transferring to De La Salle University-Manila for college.</p>
		</div> 
	</div><br>

	<div id = "devnotes">
		<p id = "title">Developer's Notes:</p>
		<div id = "modules">
			Installed Modules: <br><br>
			npm init <br>
			npm install dotenv <br>
			npm install express <br>
			npm install body-parser <br>
			npm install mongodb <br>
			npm install hbs <br>
			npm install multer <br>
			npm install routes <br>
			npm install session <br>
			npm install bcrypt <br>
		</div>
	</div>
</body>
</html>