<!DOCTYPE html>
<html>
<head>
	<title>Add Post</title>
	<link rel="stylesheet" type = "text/css" href="../css/AddPost.css">
</head>
<body style = "background-image: url(images/bg.jpg)">
	{{> navbar}}

	<p id = addpostheader> Create a Post </p>

	<div class = container2>
		<div class = container>
			<form class = entries method = "post" action = "/submitadoptionpost" enctype="multipart/form-data">
				<label> Name: </label> <br>
				<input type="text" size = "50" name = "name" required> <br><br>
				<label> Breed: </label> <br>
				<input type="text" size = "50" name = "breed" required> <br><br>
				<label> Sex:	</label>
				<input type="radio" id = "male" name = "sex" value = "Male" required> <label for = "male">Male</label>
				<input type="radio" id = "female" name = "sex" value = "Female" required> <label for = "female">Female</label> <br><br>
				<label> Size:	</label> 
				<input type="radio" id = "small" name = "size" value = "Small" required> <label for = "male">Small</label>
				<input type="radio" id = "medium" name = "size" value = "Medium" required> <label for = "male">Medium</label>
				<input type="radio" id = "large" name = "size" value = "Large" required> <label for = "female">Large</label> <br><br>
				<label> Age: </label> <br>
				<input type="text" size = "50" name = "age" required> <br><br>
				<label> Remarks: </label> <br>
				<textarea name = "remarks" id = "remarks" cols = "52" rows = "8" style = "resize: none;" required></textarea> <br><br>
				<label> Medical History: </label> <br>
				<textarea name = "medical" cols = "52" rows = "8" style = "resize: none;" required></textarea> <br><br>
				<label> Picture: </label>
				<input type="file" name="image" accept="image/*" required><br><br>
				<input type="submit" name="submit" value = " Submit ">
			</form>
			<br>
		</div>

		<!-- <img id = picofdog src ="images/adoptioninspirational.jpg"> -->
	</div>

</body>
</html>