<!DOCTYPE html>
<html>
<head>
	<title>FAQ</title>
	<link rel="stylesheet" type = "text/css" href="../css/FAQ.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {

			var user;
			$.get('/checkuser', function(result){
				user = result;
				if(user != "user_0")
					$('.subcomment').hide();
			})

		    $('#submit').click(function()
		    {
		    	var questiontitle = $('#questiontitle').val();
		    	var questiontext = $('#questiontext').val();

		    	if(questiontitle == "" || questiontext == "")
		    	{
		    		alert("Question title and/or question text must not be empty.");
		    	}
		    	else{
			    	var value = $(this).siblings('#question_id').val();

			    	$.get('/submitFAQ', {questiontitle:questiontitle, questiontext:questiontext}, function(result)
			    	{
			    		$('#postlist').prepend(result);

			    		if(user != "user_0"){
			    			$('.subcomment').hide();
			    		} else{
			    			window.open('FAQ', '_self');
			    		}
			    	})

			    	$('#questiontitle').val('');
			    	$('#questiontext').val('');
		    	}
		    });

		    $('.commentB').click(function()
		    {
		    	var question_id = $(this).siblings('#question_id').val();
		    	var comment_text = $('#' + question_id + '_comment_text').val();

		    	var value = this.value;

		    	if(comment_text == "")
		    	{
		    		alert("Comment text must not be empty.");
		    	}
		    	else
		    	{
			    	$.get('/submitcomment', {comment_text:comment_text, question_id:question_id}, function(result)
			    	{
			    		if(value == "Submit Comment")
			    		{
			    			$('#' + question_id + '_commentlist').prepend(result);
			    		}
			    		else
			    		{
			    			$('#' + question_id + '_comtext').text(comment_text);
			    		}
			    	});
			    	$('#' + question_id + '_comment_text').val("");
		    		$(this).val("Edit Comment");
		    	}
		    });
		});
	</script>
</head>
<body style = "background-image: url(images/pattern.png); margin-bottom: 50px;">
	{{> navbar}}

	<div style = "padding-left: 20px; padding-right: 20px;">
		<div class = container2>
			<p id= FAQHEADER> Frequently Asked Questions </p>
			<div class = container1>
				<div id = profile style="padding-top: 25px;">
						<form method = "get" action = "/userpage">
						<button class="user_icon">
								<div class="OPpicture" style = "background-image: url(uploads/{{path}});">
								</div>
							</button>
						</form>
						<form method = "get" action = "/userpage" style="padding-top: 20px;">
							<button class="poster_name" style="font-size: 30px; padding-bottom: 5px;">
								{{name}}
							</button>
							<div id = profilename></div>
						</form>
				</div>

				<div class = container2 id=postlist> 
					{{#each (reverseArray q)}}
						{{> post this}}
					{{/each}}
				</div>
				<div class = container2>
					<div id = addQuestion>
						<p id = addQHeader> Add a Question: </p>
						<form id= addQTitle>
							<label id = qTitleLabel for="Question title"> Title of question: </label> <br>
							<input id = questiontitle type="text" id="addQTitle" name="questiontitle" size = "40" required><br><br>
							<label id = qLabel for="Question"> Question: </label><br> 
							<textarea id = questiontext style = "resize: none;" rows = "5" cols = "42" name = "questiontext" required></textarea><br><br>
							<input type="button" name="submit" id="submit" value="submit"><br><br>
						</form>
					</div>
				</div>
		</div>
	</div>
</body>
</html>