body{
	background-color: #DEEDE6;
	font-family: "Georgia", serif;
	margin: 0px;
}

a{
	text-decoration: none;
	color: black;
}

button{
	border-radius: 50px;
	padding: 5px;
	border: none;
	background-color: #698396;
	color: #fafcfc;
}

button:hover{
	border: 1px solid #000000;
	cursor: pointer;
}

.navbarlogos{
	float: left;
	height: 40px;
	position: relative;
	right: 0px;
	margin-right: 15px;
}

.navbartext{
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 25px;
	position: relative;
}

.navbaritems{
	border-left: 1.5px solid #ffffff;
	border-right: 1.5px solid #ffffff;
	padding: 15px;
	text-align: center;
	align-content: center;
	justify-content: center;
	background-color: #b7dcf4;
	display: flex;
	flex-wrap: wrap;
	color: black;
	text-decoration: none;
}

#currentNavbar{
	width: 16%;
}

#navBrowse{
	width: 20%;
}

#navFAQ{
	width: 16%;
}

#navUserpage{
	width: 20%;
	background-color: #f7bc57;
}

.navbaritems:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    text-decoration: underline;
}


#navbar{
	border-radius: 0px 0px 5px 0px; 
	display: flex;
	margin: 0px;
	width: 100%;
	height: auto;
	position: sticky;
	top: 0;
	z-index: 99;
}

.form_input{
	background-color: white;
	border-bottom: 4px solid #ebbab4;
	font-size: 21px;
	width: 210px;
	color: black;
	height: 35px;
	border-radius: 5px 20px 20px 5px;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	padding-left: 10px;
	margin-top: 3px;
}

.form_input:hover{
	background-color: rgb(0,0,0,0.2);
}

.icons{
	margin-bottom: -18px;
	padding-right: 5px;
	width: 50px;
	height: 50px;
}

#formbox{
	margin-left: 12px;
}

#filter_options{
	margin-left: 22px;
}

#searchbar{
	background-color: #b7dcf4;
	border-left: 1.5px solid #ffffff;
	padding: 20px;
	display: flex;
	width: 26%;
	justify-content: left;
	flex-wrap: wrap;
}

#searchlogo{
	height: 40px;
	position: relative;
}

#filterlogo{
	height: 40px;
	position: relative;
	padding-top: 5px;
	left: 11px;
	background-color: inherit;
}

.dropbtn {
  	display: inline-block;
  	color: white;
  	text-align: center;
  	text-decoration: none;
  	padding-left: 0px;
  	margin: 0px;
}

.dropdown{
	margin-left: 5px;
	background-color: rgba(0,0,0,0);
	width: 60px;
	margin-top: -5px;
	border-radius: 50%;
}

.dropdown:hover{
	background-color: rgba(0,0,0,0.2);
}

.dropdown-content {
  	display: none;
  	position: absolute;
  	background-color: #f9f9f9;
  	min-width: 150px;
  	min-height: 120px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}

.dropdown-content a {
  	color: black;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
  	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  	display: block;
}

#logout_area{
	background-color: #b7dcf4;
	padding: 20px;
	width: 2%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#logout_ref{
	margin: auto;
}

#logout{
	height: 40px;
	border-radius: 30%;
}

#logout:hover{
	background-color: rgba(0,0,0,0.2);
}

input[type="checkbox"]{
	margin-top: 15px;
	cursor: pointer;
}

small{
	font-size: 14px;
	padding-left: 5px;
}

#filter{
	font-size: 13px;
	font-weight: bold;
	padding-left: 5px;
}

.detaillogos{
	max-height: 30px;
	width: 25px;
	padding-right: 20px;
}

#userdetails{
	margin-top: 5px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;
	display: flex;
	justify-content: space-between;
}

#usercontainer1{ 
	padding: 30px; 
	justify-content: center;
	background-image: url(images/backgrounds/bg2.jpg);
	border-radius: 50px;
	background-blend-mode: darken;
}

#usertextcontainer{
	padding: 10px;
	background-color: rgb(255, 255, 255, 0.9);
	border-radius: 50px;
	position: relative;
	top: 25px;
}

#useravatar{
	position: relative;
	left: 20px;
	height: 300px;
	width: 300px;
	overflow: hidden;
	border-radius: 50%;
	background-size: cover; 
	background-position: center; 
}

#username{
	font-size: 50px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 300px;
	position: relative;
	left: 10px;
}

#bio{
	font-size: 20px;
	text-align: center;
	padding: 10px;
	width: 300px;
	border: 2px solid;
}

#detailscontainer{
	position: relative;
	padding-top: 20px;
	max-width: 300px;
	font-size: 18px;
	justify-content: center;
	text-align: center;
	display: flex;

}

#profpic{
	margin: -75px 0 0 -100px;
}


#userinfo{
	width: 1250px; 
	border-radius: 20px;
	padding-right: 25px;
	padding-left: 25px;
	margin: auto;
	height: auto;
}

#prevdogstitle{
	padding: 20px;
	font-size: 40px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 0px #000000;
}

#prevdogscontainer{
	height: auto;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	align-content: space-between;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
}

#prevdogbox{
	padding-top: 20px;
	height: 550px;
	min-width: 350px;
	border: 1px solid;
	border-radius: 30px;
	margin-left: 25px;
	margin-right: 25px;
}

#prevdogbuttons{
	display: flex; 
	position: relative; 
	top: -50px;
	right: 20px;
	margin: auto;
	justify-content: center;
	align-content: space-between;
}

#prevdogpic{
	height: 270px;
	width: 270px;
	/*position: relative;
	left: 40px;
	top: 20px;*/
	margin: auto;
	border-radius: 25%;
}

#prevdogname{
	margin: auto;
	height: 175px;
	position: relative;
	top: 0px;
	font-size: 35px;
	text-align: center;
	padding: 0px;
	background-repeat: no-repeat;
	background-size: 300px;
	background-position: 30px -10px;
	padding-top: 60px;
}

#userquestions{
	margin: auto;
	padding-bottom: 100px;
}

#questionstitle{
	padding-top: 50px;
	padding-bottom: 30px;
	text-align: center;
	font-size: 40px;
	color: white;
	text-shadow: 2px 2px 0px #000000;
}

.questioncontainer{
	margin: auto;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	width: 1000px;
	background-color: rgb(255, 255, 255, 0.6);
	border-radius: 50px;
	justify-content: space-around;
}

.questionpic{
	height: 100px;
	width: 100px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
}

.questionusercontainer{
	height: 100px;
	width: 1000px;
	display: flex;
	padding-top: 10px;
}

.qusertext{
	padding-left: 10px;
	display: flex;
	justify-content: space-between;
}

.qusername{
	font-size: 30px;
	font-weight: bold;
}

.qadoptions{
	font-style: oblique;
}

.qrescues{
	font-style: oblique;
}

.usertext{
	padding-left: 15px;
	width: 300px;
	position: relative;
	top: 10px;
}

.questionuserdetails{
	display: flex;
}

.questiontext{
	max-width: 500px;
	border-left: 1px solid;
	font-size: 25px;
	text-align: center;
	padding: 25px;
}
