<div class = answers id=reply>
	<div class = replyprofile>
	<div style = "background-image: url(uploads/{{this.comment.COPpath}});" class = "replypicture"></div></a>
	<p> {{this.comment.comment_name}} </p>
	</div>
	<p class = reply id="{{this.comment.question_id}}_comtext"> {{this.comment.comment_text}} </p>
</div>