<!DOCTYPE html>
<html>
<head>
	<title>Add Post</title>
	<link rel="stylesheet" type = "text/css" href="../css/AddPost.css">
</head>
<body style = "background-image: url(images/bg.jpg)">
	{{> navbar}}

	<p id = addpostheader> Create a Post </p>

	<div class = container2>
		<div class = container>
			<form class = entries method = "post" action = "/submitadoptionpost" enctype="multipart/form-data">
				<label> Name: </label> <br>
				<input type="text" class = place name = "name"> <br>
				<label> Breed: </label> <br>
				<input type="text" class = place name = "breed"> <br>
				<label> Sex:</label> <br>
				<input type="text" class = place name = "sex"> <br>
				<label> Size: </label> <br>
				<input type="text" class = place name = "size"> <br>
				<label> Age: </label> <br>
				<input type="text" class = place name = "age"> <br>
				<label> Remarks: </label> <br>
				<textarea name = "remarks" id = "remarks"></textarea> 
				<br>
				<input type="file" name="image" accept="image/*"><br>
				<input type="submit" name="submit" value = "Submit">
			</form>
			<br>
		</div>

		<img id = picofdog src ="images/addpostdog.jpg">
	</div>

</body>
</html>