<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/Adoption.css">
	<title>Adoption</title>
</head>
<body>
	{{> navbar}}

	<div id="page_area">
		<div class="areas left" id="section1">
			<div class="area_content">
				<div id="caption">DOG INFORMATION</div>
				<div class="content">
					<img src="images/Adoption/Toffee.jpg" class="dogpic">

					<div class="content_text1 left" id="area1">
						<div class="text1"><span class="category">Name: </span> Toffee</div>
						<div class="text1"><span class="category">Breed: </span> Beaglier</div>
						<div class="text1"><span class="category">Sex: </span> Male</div>
						<div class="text1"><span class="category">Size: </span> Small</div>
						<div class="text1"><span class="category">Age: </span> 5 Months</div>
					</div>

					<div class="content_text2 left">
						<div class="text2">Remarks</div>
						<p>This little boy is so charming and sweet! He gets along really well with other puppies but especially loves getting snuggled by humans.</p>
						<div class="text2" id="contact_gap">Poster's Contact Information</div>
						<p class="spacing">+63 933 547 3817<br>
						james_santos@yahoo.com</p>
					</div>

				</div>
			</div>
		</div>

		<a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank" class="button center">Contact Poster</a>
	</div>

</body>
</html>