<!DOCTYPE html>
<html>
<head>
	<title>Select FAQ to edit:</title>
</head>
<body>
	<form action = "/askeditname">
		<label for = "title">Input title of FAQ to edit:</label><br>
		<input type = "text" name = "title">
		<input type = "submit" name = "submit">
	</form>
</body>
</html>