<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/HomePage.css">
	<title>Pupperty Home</title>
</head>
<body>
	
	{{> navbar}}

	<div class = "intro_section" style = "background-image: url(images/HomePage/doggo_adoption.png);">
		<div class = "intro_text">
			<h1 class="top">GIVE A <span class="emphasize">DOG</span><br>A <span class="emphasize">HOME</span></h1>
			<p>Adopt a dog to brighten up your household! <br>
			Fill your everydays with joy and excitement!</p>
			<a href="/browse" class = "button">Get Started</a>
		</div>
	</div>

	<div class = "about_section">
		<p id="about_us">ABOUT US<img src="images/HomePage/pawprint.png" id ="pawprint"></p>
		<p id="about_description">Pupperty is an community that seeks to gives countless dogs a place to belong to. Millions of dogs are left homeless -- aimlessly wandering the streets -- but they deserve all the love and care in the world. Through Pupperty, we present you with the opportunity to add a bit of sparkle and vibrance into your humble homes by adopting dogs from people within the community. Your best friend is waiting for you!</p>

		<div id = "floating_box">
			<div class = "box_items">
				<div><img src = "images/HomePage/goals.png" class = "boxlogos"></div>
				<div class = "box_heading">GOALS</div>
				<p class = "box_text">Pupperty aims to provide owners and homes to our canine friends. Our community also hopes to be able to bring smiles to people from all across the country.</p>
			</div>
			<div class = "box_items" id = "centerbox">
				<div><img src = "images/HomePage/motivation.png" class = "boxlogos"></div>
				<div class = "box_heading">MOTIVATION</div>
				<p class = "box_text">Our inspiration for establishing this community is to spread joy and happiness within households especially during these difficult and trying times.</p>
			</div>
			<div class = "box_items">
				<div><img src = "images/HomePage/contact.png" class = "boxlogos"></div>
				<div class = "box_heading">CONTACT INFORMATION</div>
				<p class = "box_text">+63 927 295 2691<br>
				pupperty.home@gmail.com</p>
			</div>
		</div>
	</div>

	<div class = "why_adopt">
		<div class="adopt_text">
			<h1 id="adopt_header">Why Adopt a Dog?</h1>
			<p id="adopt_paragraph">Thanks to the unconditional love that dogs provide, having one as a pet provides us with a mood boost which leads to a sense of emotional stability. This is also the reason why dogs are great company and they give comfort for people who live alone. Nevertheless, may you be alone or with your family, having a dog is sure to have positive effects on your wellbeing as being with dogs improve mental, emotional, and physical health.</p>
		</div>
		<img src="images/HomePage/dog_and_owner.jpg" id="dog_and_owner">
	</div>

	<script type="text/javascript">
		var slideIndex = 1;
		showSlides(slideIndex);

		function plusSlides(n){
		  showSlides(slideIndex += n);
		}

		function currentSlide(n){
		  showSlides(slideIndex = n);
		}

		function showSlides(n){
		  var i;
		  var slides = document.getElementsByClassName("how_adopt");
		  var dots = document.getElementsByClassName("dot_selector");
		  if (n > slides.length){
		    slideIndex = 1
		  }    
		  if (n < 1){
		    slideIndex = slides.length
		  }
		  for (i = 0; i < slides.length; i++){
		      slides[i].style.display = "none";
		  }
		  for (i = 0; i < dots.length; i++){
		      dots[i].className = dots[i].className.replace(" active", "");
		  }
		  slides[slideIndex-1].style.display = "block";  
		  dots[slideIndex-1].className += " active";
		}
	</script>

	<div class="slideshow">

		<div class="how_adopt fade" id="base">
		  <div class="slide_count">1 / 3</div>
		  <img src="images/HomePage/panorama.png" style="width:100%">
		  <div class = "how_heading">How to Adopt a Dog</div>
		  <div class = "info">
		  	<img src="images/HomePage/certificate.png" class="step_logos">
		  	<div class="info_text">
			  	<div class="step_title">CERTIFICATION</div>
			  	<p class="step_text">In order to process an adoption, the user must first procure an adoption license proving that they are capable of taking care of a dog, whether physically, emotionally, or financially.</p>
		  	</div>
		  </div>
		</div>

		<div class="how_adopt fade">
		  <div class="slide_count">2 / 3</div>
		  <img src="images/HomePage/panorama.png" style="width:100%">
		  <div class = "how_heading">How to Adopt a Dog</div>
		  <div class = "info">
		  	<img src="images/HomePage/browse.png" class="step_logos">
		  	<div class="info_text">
			  	<div class="step_title">BROWSE</div>
			  	<p class="step_text">The user is free to browse the posts in the website in search for dogs which are up for adoption. So long as the indicator in the post states that a dog has not been adopted yet, the user can proceed to reach out to the owner for adoption details.</p>
			 </div>
		  </div>
		</div>

		<div class="how_adopt fade">
		  <div class="slide_count">3 / 3</div>
		  <img src="images/HomePage/panorama.png" style="width:100%">
		  <div class = "how_heading">How to Adopt a Dog</div>
		  <div class = "info">
		  	<img src="images/HomePage/communicate.png" class="step_logos">
		  	<div class="info_text">
			  	<div class="step_title">COMMUNICATE</div>
			  	<p class="step_text">The contact information of the poster can be found in his/her account. The adopter is given the liberty to contact the poster and to discuss the details regarding the adoption of a dog.</p>
			 </div>
		  </div>
		</div>

		<a class="back" onclick="plusSlides(-1)">&#10094;</a>
		<a class="forward" onclick="plusSlides(1)">&#10095;</a>
	</div>
	<br>
	<div style="text-align: center; margin-top: -10px;">
	  <span class="dot_selector active" onclick="currentSlide(1)"></span> 
	  <span class="dot_selector" onclick="currentSlide(2)"></span> 
	  <span class="dot_selector" onclick="currentSlide(3)"></span> 
	</div>

	<div class="for_adoption">
		<div class="dogs_header">DOGS FOR ADOPTION</div>
		<div class="pictures">
			
			<a href="/adoption" class="dog_link">
				<div class="doggo" id="doggo1" style = "background-image: url(images/HomePage/doggo1.png);">
					<img src="images/HomePage/dogF.png" class="dog_logo">
					<p class="dog_name">Ellie</p>
				</div>
			</a>
			
			<a href="/adoption" class="dog_link">
				<div class="doggo" id="doggo2" style = "background-image: url(images/HomePage/doggo2.png);">
					<img src="images/HomePage/dogM.png" class="dog_logo">
					<p class="dog_name">Toffee</p>
				</div>
			</a>

			<a href="/adoption" class="dog_link">
				<div class="doggo" id="doggo3" style = "background-image: url(images/HomePage/doggo3.png);">
					<img src="images/HomePage/dogM.png" class="dog_logo">
					<p class="dog_name">Prince</p>
				</div>
			</a>

			<a href="/adoption" class="dog_link">
				<div class="doggo" id="doggo4" style = "background-image: url(images/HomePage/doggo4.png);">
					<img src="images/HomePage/dogF.png" class="dog_logo">
					<p class="dog_name">Nino</p>
				</div>
			</a>

			<a href="/browse" id="more">
				<div class="doggo_separate" id="doggo5">
					<img src="images/HomePage/dogF.png" id="dog_solo">
					<p id="more_pets">Browse through more<br>pets here!</p>
				</div>
			</a>

		</div>
	</div>

</body>
</html>